<div id="page-wrapper">
        <div class="row" style="padding-top: 20px">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#menu1">Jenjang Pendidikan</a></li>
                <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
            </ul>
            <!-- Tab panes, ini content dari tab di atas -->
            
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row col-lg-12" style="padding-top: 20px">

                            <!-- row 1  -->
                    <form role="form" name="form" action="dosenbiodt_editproses.php" method="POST">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-4">
                            <!-- box 1 -->
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Dr. Ragil Satrio</h3>
                                </div><!-- /.box-header -->
                                
                                    <div class="box-body">
                                        <img alt="foto" src="D:/Data Desain/ragil superman.png" class="img-rounded">                                  
                                    </div><!-- /.box-body -->
                                    
                                    <div class="box-footer">
                                        <p><small>DOSEN PROGRAM STUDI MAIN DOTA                               
                                            <br/>FUNGSIONAL: LEKTOR KEPALA</small></p>
                                        </p>
                                        <!--    
                                        <form role="form" name="form1" action="gantifoto.php" method="POST">        
                                        <div class="form-group">
                                            <input type="file" id="idfoto" name="idfoto">                               
                                        </div>
                                        <small><i>Klik browse untuk ganti foto</i></small>
                                        <input type="submit" name="submit" value="Proses" class="btn btn-primary btn-xs pull-right">
                                        </form>
                                        -->
                                    </div>
                                
                            </div>
                        </div>
                        <!-- middle column -->
                        <div class="col-md-4">                  
                            <!-- box 2 -->
                            <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="nama">Nama</label>
                                            <input type="text" name="nama" class="form-control" placeholder="nama" value="Dr. Ragil Satrio" disabled="disabled">
                                            <input type="hidden" name="idfoto" class="form-control" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="nip">NIP</label>
                                            <input type="text" name="nip" class="form-control" placeholder="niplama" value="" disabled="disabled" >
                                        </div>
                                        <div class="form-group">
                                            <label for="noktp">No.KTP</label>
                                            <input type="text" name="noktp" class="form-control" placeholder="No.KTP" value="" disabled="disabled">
                                        </div> 
                                        <div class="form-group">
                                            <label for="agama">Agama</label>                                 
                                            <input type="text" name="agama" class="form-control" placeholder="Agama" value="" disabled="disabled">
                                        </div>                              
                                    </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col-md-6 -->
                        <!-- right column -->
                        <div class="col-md-4">                  
                            <!-- box 3 -->
                            <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="lhrtpt">Lahir di</label>
                                            <input type="text" name="lhrtpt" class="form-control" placeholder="tempat lahir" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="lhr1">Tgl.Lahir</label>
                                            <input type="text" name="lhr1" class="form-control" placeholder="tgl.lahir" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="lp">Laki-laki/Perempuan</label>
                                            <input type="text" name="ganre" class="form-control" placeholder="Jenis Kelamin" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="pensiun_status">Status Aktif</label>
                                            <input type="text" name="status" class="form-control" placeholder="Status" value="" disabled="disabled">
                                        </div>               
                                    </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col-md-6 -->               
                    </div><!-- /.row -->

                    <!-- row 2  -->
                    <div class="row">
                        <!-- leftt column -->
                        <div class="col-md-4">                  
                            <!-- box 1 -->
                            <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="alamat">Alamat</label>
                                            <input type="password" name="alamat" class="form-control" placeholder="nama" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="telepon">No.Telepon Rumah</label>
                                            <input type="password" name="telepon" class="form-control" placeholder="telepon" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="nohp">No.Ponsel</label>
                                            <input type="password" name="nohp" class="form-control" placeholder="no.ponsel" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">

                                        </div>                              
                                    </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col-md-6 -->
                        <!-- middle column -->
                        <div class="col-md-4">                                  
                            <!-- box 1 -->
                            <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="kg">Pangkat/Golongan</label>
                                            <input type="text" name="tmtgol" class="form-control" placeholder="Golongan" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="tmtgol">t.m.t. Golongan</label>
                                            <input type="text" name="tmtgol" class="form-control" placeholder="t.m.t. Golongan" value="" disabled="disabled">
                                        </div>
                                        <div class="form-group">
                                            <label for="tmtjab">t.m.t. Fungsional</label>
                                            <input type="text" name="tmtjab" class="form-control" placeholder="t.m.t. Fungsional" value="" disabled="disabled">
                                        </div>                             
                                    </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col-md-6 -->
                        <!-- right column -->    
                    </div><!-- /.row -->  

                    </form>
                </div>
            </div>

            <div id="menu1" class="tab-pane fade" >
                <div class="row col-lg-12" style="padding-top: 20px">
                    <div class="col-md-4">                  
                    <!-- box 3 -->
                    <div class="box">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="lhrtpt">Lahir di</label>
                                    <input type="text" name="lhrtpt" class="form-control" placeholder="tempat lahir" value="D.Srdg" disabled="disabled">
                                </div>
                                <div class="form-group">
                                    <label for="lhr1">Tgl.Lahir</label>
                                    <input type="text" name="lhr1" class="form-control" placeholder="tgl.lahir" value="12-01-1960" disabled="disabled">
                                </div>
                                <div class="form-group">
                                    <label for="lp">Laki-laki/Perempuan</label>
                                 
                                </div>
                                <div class="form-group">
                                    <label for="agama">Agama</label>                                
                                    
                                </div>                      
                            </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col-md-6 -->       

            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->